---
import "../styles/HeroStyles.css";
---

<section class="section-background">
  <div class="text-container">
    <h1>Hotel Paradise</h1>
    <p>Tu oasis de lujo frente al mar</p>
  </div>
  <button id="menuButton" class="menu-button">Reservas</button>
</section>

