---
import "../styles/NavBarStyles.css"
---
<div class="navbar">
    <ul>
      <li><a href="#acerca-de">ACERCA DE</a></li>
      <li><a href="#contactos">CONTACTOS</a></li>
      <li><a href="#direccion">DIRECCIÓN</a></li>
    </ul>
  </div>